body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header {
    background-color: #8b0000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}

.book-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.book-item img {
    max-width: 100%; /* Make the image responsive */
    max-height: 200px; /* Adjust the max-height as needed */
    margin: 0 auto; /* Center-align the image horizontally */
}

.book-item:hover {
    transform: scale(1.05);
}

footer {
    background-color:#4e0000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    
    width: 100%;
    font-size: 12px;
}

.social-media a {
    text-decoration: none;
    margin: 0 5px;
}

.social-media img {
    width: 20px; 
}


