body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header {
    background-color: #8b0000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

main {
    margin: 20px;
}

/* Add more styling to customize the retro vibe as you like */

/* ... Your existing CSS ... */

#slideshow {
    width: 40%; /* Adjust the size as needed */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #613c04; /* Add a border for aesthetics */
}

#slideshow img {
    width: 100%;
    height: 100%;
    display: inline-block;
    animation: slide 5s infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

